* {
	box-sizing:border-box;
	margin:0;
	padding: 0;
	font-family: 'Archivo';
}

a {
	color: black;
	text-decoration: none;
}

nav > a {
	padding-right: 15px;
}

.kiri { 
	justify-content: start!important;
}

.kiri > img {
	margin: 0 10px;
}

.kanan {
	width: 50vw;
	flex-basis: 100%!important;
	flex-direction: row!important;
	justify-content: end!important;
}

.row {
	display: flex;
	flex-direction: row;
}

.jauhan {
	width: 100%;
	justify-content: space-between;
}

.jarak > h1 {
	text-decoration: underline;
}

.jarak > h4 {
	line-height: 1.6;
}

.col {
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.jauhan > .col {
	flex-direction: row;
	align-items: center;
}

.btn-bottom {
	text-align: center;
	font-size: 3rem;
	font-weight: bold;
}

.containerku {
	margin:auto;
	padding:auto;
	width:100%;
	height:100%;
}

.header {
	width: 100%;
	height: 8vh;
	background-color: #32AD00;
	display: flex;
}

.content-scroll {
	overflow-y: hidden;
	height: 87vh;
}

.content-scroll:hover {
	overflow-y: auto;
	height: 87vh;
}

.contentku {
	background-color:#CCFF90;
	width:100%;
	min-height: 87vh;
	padding: 4vh 4vw;
}

.i-bgc-1 {
	margin: 5vh 0;
	width: 600px;
	height: 400px;
}

.bgc-2 {
	background-color:#CCFFA0;
	margin-top: 0;
}

.bgc-3 {
	background-color:#CCFF82;
	margin: 0 0 -5vh;
}

.i-bgc-3 {
	margin: 10vh 0;
	width: 400px;
	height: 400px;
}

.footerku {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#32AD00;
	width:100%;
	height:5vh;
}

.table {
	width: 100%;
}

tr > th {
	border-bottom: 3px solid black;
	padding: 5px 0;
}

tr > td {
	border-bottom: 1px solid black;
	padding: 5px 0;
}

@media screen and (max-width: 500px){
	.contentku {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.row {
		flex-direction: column;
	}
	
	.header {
		align-items: center;
	}

	.i-bgc-1, .i-bgc-2, .i-bgc-3 {
		display: none;
	}
/*
	.i-bgc-1 {
		margin: 0;
		width: 300px;
		height: 200px;
	}
	.i-bgc-3 {
		margin: 0;
		width: 300px;
		height: 300px;
	}
*/
	.kiri {
		justify-content: center!important;
	}
	.kanan { 
		display: none;
	}
}