* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	overflow-y: hidden;
}
mark {
	padding: 0;
}
.load-wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin:0;
    padding: 0;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.containerku {
	margin: auto;
	padding: auto;
}

.wrapper {
	display: flex;
	max-width: 100vw;
	max-height:100vh;
}

.headerku {
	max-height: 8vh;
}

.menuku {
	width: 20%;
}

#listSuratMobile {
	max-height: 92vh;
	overflow-y: auto;
	position:relative;
	z-index:9999;
}

#menuNavbar {
	max-height: 92vh;
	overflow-y: hidden;
}

#menuNavbar:hover {
	overflow-y: auto;
}

.menuku a {
	color: white !important;
}

.menuku .active {
	background-color: gray;
	pointer-events: none !important;
	cursor: default !important;
}

.menuku li:hover {
	background-color: #0275d8;
}

.content-scroll {
	display: flex;
	max-height: 92vh;
	width: 80vw;
	overflow-y: hidden;
}

.content-scroll:hover {
	overflow-y: auto;
}

.image-container {
	margin:2vh 0;
	position: relative;
	width: auto;	
}

.image-container {
	opacity: 1;
	display: block;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}

.selengkapnya {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 40%;
	left: 45%;
	transform: translate(-25%, -25%);
	-ms-transform: translate(-25%, -25%);
	text-align: center;
}

.image-container:hover {
	opacity: 0.3;
}

.image-container:hover .selengkapnya {
	opacity: 1;
}

@media screen and (max-width: 1024px){
	.mobile {
		margin-top: 10px;
		background-color:gainsboro;
		border-radius: 5px;
	}

	.mobile>.li :hover{
		border-radius: 5px;
	}


	.content-scroll {
		width: 100%;	
		overflow-y: auto;
	}
	
	#berandaku h4{
		font-size: 0.8rem;
	}
	
	#berandaku h6{
		font-size: 0.6rem;
	}
	
	#berandaku p {
		font-size: 0.4rem;
	}
}
